.DefinitionMain h1 {
  font-size: 2.25em;
  margin: 5px 0;
}

.DefinitionMain h2 {
  font-size: 1.5em;
  margin: 5px 0;
  padding: 10px;
}

.DefinitionMain p {
  font-size: 1.3em;
}

.DefinitionHeader {
  background-color: #ffffff66;
}

/* * {
  border: 1px solid red;
} */

.DefinitionMain {
  width: 800px;
  background-color: #ffffff55;
  margin: 20px;
  padding: 0 0 5px 0;
}
